SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = '156e3fc62553a80f0097805e994e3856'
API_SECRET = '5Ch01NIgILos90tdCAclStVGEnq6m5SJ'
